body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: cursive;
}
.table {
    width: 33%;
    font-size: 1.5em;
}
table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#dataTable {
    border: 2px solid black;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: blue;
}
.button {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    background: cyan;
    padding: 5px;
    margin: 5px;
    color: black;
}
.button:hover {
    background: #aaffff
}